<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Pages</th>
        <th scope="col">First Edition</th>
        <th scope="col">Author(s)</th>
        <th scope="col">Cover</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.isbn }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.firstEdition | date:'dd/MM/yyyy' }}</td>
        <td>
          <div *ngFor="let author of book.authors">
            {{ author.name}}
          </div>
        </td>
        <td>
          <div *ngIf="book.cover">
            <img src="{{book.cover}}">
          </div>
        </td>
        <td>
          <app-cover-upload-modal [book]="book"></app-cover-upload-modal>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
